ul {
    list-style: none;
}

li {
    font-size: 20px;
    line-height: 1.2;
    text-decoration: underline;
}

li:hover {
    cursor: pointer;
}

.result {
    display: none;
    font: 1em sans-serif;
    margin-top: 10px;
}

.hint {
    color: black;
    font-size: 13.33px;   
}

.hint:active {
    font-size: 30px;
    color: red;
}